# Entorno virtual
.venv/
venv/
ENV/

# Secretos y variables de entorno
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]

# Caché de Streamlit y bases de datos locales opcionales
.streamlit/
*.faiss
*.pkl